In [0]:
#Create a series by passing a list of values

import pandas as pd
a=pd.Series([1,2,3,4,5,6,7])
print(a)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [0]:
# Missing values then it can be nan of numpy
import numpy as np
a1 = pd.Series([1,2,3,4,np.nan,6])
print(a1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              )

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
dtype: float64

In [0]:
# create a list of dates with in particular range

dates = pd.date_range('20190601',periods=10)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10'],
              dtype='datetime64[ns]', freq='D')

In [0]:
lst=pd.date_range('20190601',periods=5)
print(lst)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

In [0]:
a2=pd.dateFrame(pd.dataFrame('2019'))

In [0]:
# Createing a dict converted in to series of values
a3 = pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20190601'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(["test","train","test","train"]),
                  'F':'foo'})
print(a3)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo

In [0]:
# Step 1: Make all the "turtle" package to be imported
import turtle as tt
# Turtle method creates and returns the new object
a1 = tt.Turtle()
# forward() method moves 100 pixels
tt.forward(100)
# We are done
tt.done

In [0]:
# Drawing a square
import turtle as tt
a1 = tt.turtle()
a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

tt.done()

In [0]:
import turtle as tt

a1 = tt.turtle("blue")

for x in range(40):
    a1.forward(50)
    a1.right(144)
    
tt.done()

In [0]:
# Drawing a square
import turtle as tt
a1 = tt.turtle()
a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

tt.done()

In [0]:
import turtle as tt

c1 = tt.Turtle()
c1.pencolor("blue")
for i in range(50):
    c1.forward(50)
    c1.left(123)

c1.pencolor("red")
for i in range(50):
    c1.forward(100)
    c1.left(123)


c.done()

In [0]:
import turtle as tt

colors = ['red','blue','orange','green','yellow','purple']

a1 = tt.Turtle()

for x in range(360):
    a1.pencolor(colors[x%6])
    a1.width(x/100+1)
    a1.forward(x)
    a1.left(59)

tt.done()

In [0]:
from turtle import *
import random

for n in range(50):
    penup()
    goto(random.randint(-400,400),random.randint(-400,400))
    pendown()

    red_amount = random.randint(0,30)/100.0
    blue_amount = random.randint(50,100)/100.0
    green_amount = random.randint(0,30)/100.0

    pencolor((red_amount,blue_amount,green_amount))

    circle_size = random.randint(10,40)
    pensize(random.randint(4,6))

    for i in range(6):
        circle(circle_size)
        left(60)

In [0]:
import turtle as tt
a1 = tt.Turtle()


colors = ('red','green','yellow','orange','blue','purple')
dot_distance = 10
width = 10
height = 15

a1.penup()

for x in range(height):
    a1.pencolor(colors[x%6])
    for i in range(width):
        a1.dot()
        a1.forward(dot_distance)
    a1.forward(dot_distance * width)
    a1.right(90)
    a1.forward(dot_distance)
    a1.left(90)

tt.done

In [0]:

from turtle import *

def main():
    colors=("red","orange","yellow","seagreen","orchid4","royalblue1","dodgerblue1")
    reset()
    Screen()
    up()
    goto(-320,-195)
    width(70)
    for pcolor in colors:
        color(pcolor)
        down()
        forward(640)
        up()
        backward(640)
        left(90)
        forward(66)
        right(90)

width(25)
color("white")
down()

circle(170)
left(90)
forward(340)
up()
left(180)
forward(170)
right(45)
down()
forward(170)
up()
backward(170)
left(90)
down()
forward(170)
up()
goto(0,300)

if __name__ == "__main__":
    main()
    mainloop()