### BINARY SEARCH
can be appiled only on sorted list


can be appilied only on unique list

In [0]:
def binarysearch(a,lIndex,rIndex,tarItem):
    while lIndex <= rIndex:
        mIndex = lIndex + (rIndex-lIndex)//2;
        if a[mIndex] == tarItem:
            return mIndex
        if a[mIndex] > tarItem :
            rIndex = mIndex - 1
        else:
            lIndex = mIndex + 1
    return -1
list1 = [1,4,9,15,25,45,57,88,98]
res = binarysearch(list1,0,8,818)
if res !=-1:
    print("Item is found")
else:
    print("Item is not found")

Item is not found

### Bubble sort 
 
 
 
 it compares the adj item , if the first item is greater than second item there would require of swap the item
 
 
 the complex -n*n

In [0]:
def bubblesort(a):
    for i in range(len(a)-1):
        for j in range(len(a)-1):
            if a[j] > a[j+1]:
               a[j],a[j+1] = a[j+1],a[j]
                
                
    for i in range(len(a)):
        print(a[i],end=" ")
        
        
list1 = [19,1,25,6,18,3]
bubblesort(list1)

1 3 6 18 19 25

### string

In [0]:
# Creating a string
str = "application"
print(str)


str1 = 'application'
print(str1)

str2 = """application test
       working
       completed
       list
       strings
       python"""
print(str2)

application
application
application test
       working
       completed
       list
       strings
       python

In [0]:
str = "application"
print(str)
print("str[0] = ",str[0])
print("str[1] = ",str[1])
print("str[-1] = ",str[-1])
print("str[-3] = ",str[-3])
print("str[1:5] = ",str[1:5])
print("str[:5] = ",str[:5])
print("str[:-2] = ",str[:-2])
print("str[::-1] = ",str[::-1])

application
str[0] =  a
str[1] =  p
str[-1] =  n
str[-3] =  i
str[1:5] =  ppli
str[:5] =  appli
str[:-2] =  applicati
str[::-1] =  noitacilppa

### Palindrome of string

In [0]:
def isPalindrome(s):
    if s == s[::-1]:
        return True
    else: 
        return False
      
      
print(isPalindrome("python"))
print(isPalindrome("jalaj"))

False
True

### Count of digits

In [0]:
# Count the digits of a number
n = int(input("enter a number"))
cnt = 0
while n != 0:
    cnt = cnt + 1;
    n = n // 10;
    
    
print(cnt)

enter a number54
2

In [0]:
def countofchars(str):
    return len(str)
countofchars("application")

11

In [0]:
def countDigits(n):
    return len(n)
  
  
countDigits("25410")

5

In [0]:
# String - Converts - List -- Len of the list
def count(str):
    lst1 = list(str)
    return len(lst1)
count("App")

3

### String Examples :



Text cases:


Applications -- 2


text -- 3

In [0]:
def countUpperCase(str):
    cnt = 0
    lst1 = list(str)
    for x in range(len(lst1)):
      if ord(lst1[x]) >= 65 and ord(lst1[x]) <= 90:
          cnt = cnt + 1
      return cnt
  
print(countUpperCase("ApplicAtion"))
print(countUpperCase("TeST"))

1
1

In [0]:
def countuppercase(str):
    cnt = 0
    
    
    return cnt
  
print(countuppercase("application"))
print(countuppercase("test"))

0
0

### Print of digits in a string


text cases:


applications1889--1889 te 1520--1520

In [0]:
x = "foo"
y = 2
print(x + y)

TypeError: ignored